body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
}

ul,
ol {
  list-style-type: none;
}

.hero {
  background-color: #2e2f42;
}

h1 {
  color: #ffffff;
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-align: center;
}

h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.header {
  color: #2e2f42;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-menu,
.header-contacts {
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu:hover,
.header-menu:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.logo-accent {
  color: #2e2f42;
}

.hero .hero-button {
  font-family: inherit;
  background-color: #4d5ae5;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
}

.hero .hero-button:hover,
.hero .hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.principles-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.team-title,
.portfolio-title {
  line-height: 1.11;
  text-transform: capitalize;
}

.team-member {
  background-color: #ffffff;
}

.team-text,
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
